/node_modules
/.pnp
.pnp.js

/dist
/out
/build
/electron-packager
/electron-builder
/*.log

.DS_Store
Thumbs.db
*.swp
*~

.vscode/
.idea/
*.iml

.env
.env.local
.env.development
.env.production
.env.test

/.cache
/tmp
/yarn-error.log
/npm-debug.log
/coverage

/.electron-cache
/.squirrelmac
/.squirrelwindows
*.asar